.title {
  width: 100%;
  text-align: center;
  font-size: 5rem;
  color: yellow;
  margin-bottom: 50px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
